<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Megasoft Calculator{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>
<body>
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                 <a class="navbar-brand" href="/"> Megasoft Calculator </a>
        <a class="nav nav-item text-white" href="/report">Report</a>
    </nav>
{% endblock %}
<footer class="text-center text-muted">
    &copy; {{ "now"|date('Y') }} CalcuCo.
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>