{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row justify-content-center  pt-3">
            <div class="col-6  text-center">
                <div id="calculator">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
